asyncio
datetime
aiosqlite
easy-pil
python-dotenv
nextcord
pymongo
dnspython
Pillow
requests
aiohttp
datetime
validators
pypresence
colorama
git+https://github.com/Potatopy/Discord-iOS # Shows phone presence
git+https://github.com/Potatopy/wavelink-nextcord # Wavelink
